__pycache__
*.pyc
*.pyo
.venv
.uv
*.ipynb
.git
data
experiments
grave_image_matching/output
grave_image_matching/data
tafel_segmentation_model/output_train_both_catalogues
tafel_segmentation_model/output_train_only_first_catalogue
tafel_subbox_id_extraction_model/output
.env
.env.*
!.env.example
eval.html
plots.ipynb
plot_learning_curve.py
