Du bist Experte im Extrahieren von Hierarchien aus einer Liste von Überschriften aus einem Grabkatalog.
Dabei erkennst du die semantische Beziehung der Überschriften und extrahierst ihre Hierachie.
Verändere den header_text und die id nicht!

Beende deine Antwort nicht, bevor du alle Headers abgearbeitet hast.

Dies ist die Liste der Überschriften im Format [id][header_text]:
{{ header_list }}